

<app-topbarku></app-topbarku>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <app-sidebarku></app-sidebarku>
    </div>
    <div class="col-lg-10">
        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12">
              <div class="card text-dark bg-white mb-3" style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-lg-3" style="margin-top: 5px;">
                          <label for="mulai">Mulai</label>
                        </div>
                        <div class="col-lg-9" style="margin-top: 5px;"> 
                            <input type="date" class="form-control" #dateFrom/>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="row">
                        <div class="col-lg-3" style="margin-top: 5px;">
                          <label for="akhir">Akhir</label>
                        </div>
                        <div class="col-lg-9" style="margin-top: 5px;"> 
                            <input type="date" class="form-control" #dateTo/>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <button class="btn bg-primary" style="margin-top: 5px; color: #fff;" (click)="search()">Proses</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-4">
                  <div class="card text-dark bg-white mb-3" style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);">
                    <div class="card-body text-center">
                      <h5>TOTAL NOMINAL TRANSAKSI</h5>
                      <div style="font-size: 30px;">{{total_card}}</div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="card text-dark bg-white mb-3" style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);">
                    <div class="card-body text-center">
                      <h5>TOTAL TRASAKSI</h5>
                      <div style="font-size: 30px;">{{total}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
                  <div class="container-fluid">
                      <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">ID Transaksi</th>
                          <th scope="col">Waktu</th>
                          <th scope="col">Kasir</th>
                          <th scope="col">Total Transaksi</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of search_data | paginate : {
                          itemsPerPage: tableSize,
                          currentPage: page,
                          totalItems: count
                        };">
                          <td>{{data.kode}}</td>
                          <td>{{data.tanggal}}</td>
                          <td>{{data.id_user}}</td>
                          <td>Rp {{data.total}}</td>
                          <td><button class="btn btn-success" (click)="detailModal(modaldetail, data.kode)"><img src="assets/visibility_white_24dp.svg"></button><button class="btn btn-success" (click)="updateModal(modalupdate, data.kode)" style="margin-left: 5px;"><img src="assets/edit_white_24dp.svg"></button></td>
                        </tr>
                      </tbody>
                      </table>
                      <div style="margin-top: 20px; float: right;">
                        <pagination-controls 
                            responsive="true" 
                            previousLabel="Prev" 
                            nextLabel="Next" 
                            (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                    </div>
                  </div>   
              </div>
          </div>
        </div>
    </div>
  </div>
    
</div>

<ng-template #modaldetail role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Detail Pesanan</h5>
        <button type="button" class="close" aria-hidden="true" #closebutton (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body" *ngFor="let data of Datafilter">
        <div class="row">
            <div class="col-lg-12">
              <h6>ID Transaksi</h6>
              <p>{{data.kode}}</p>
            </div>
            <div class="col-lg-6">
              <h6>Pendapatan Kotor</h6>
              <p>Rp {{data.total}}</p>
            </div>
            <div class="col-lg-6">
              <h6>Tanggal & Waktu</h6>
              <p>{{data.tanggal}}</p>
            </div>
            <div class="col-lg-6">
              <h6>Jenis Pembayaran</h6>
              <p>{{data.jenis_pembayaran}}</p>
            </div>
            <div class="col-lg-6">
              <h6>Total Item</h6>
              <p>{{total_produk}}</p>
            </div>
            <div class="col-lg-6">
              <h6>Customer</h6>
              <p>Umum</p>
            </div>
            <div class="col-lg-6">
              <h6>Kasir</h6>
              <p>{{data.id_user}}</p>
            </div>
            <div class="col-lg-12">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">No</th>
                    <th scope="col">Produk</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Harga</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dataku of data_produk; let i = index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{dataku.nama}}</td>
                    <td>{{dataku.qty}}</td>
                    <td>{{dataku.harga}}</td>
                  </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Tutup</button>
    </div>
</ng-template>

<ng-template #modalupdate role="document" let-modal>
  <form [formGroup]="requiredForm" (ngSubmit)="submit()" novalidate>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Update Jumlah Pesanan</h5>
        <button type="button" class="close" aria-hidden="true" #closebutton (click)="modal.dismiss('Cross click')">×</button>
    </div>
    <div class="modal-body">
        <div class="row">
          <div class="col-lg-12" *ngFor="let dataku of data_produk; let i = index;">
            <div class="form-group mb-3">
              <input type="text" class="form-control"
                  placeholder="Kode" id="kode" value="{{dataku.kode}}"hidden/>
              <input type="text" class="form-control"
                  placeholder="Kode" id="id{{i}}" value="{{dataku.id_detail}}" hidden/>
              <label for="qty">{{dataku.nama}}</label>
              <input type="text" class="form-control"
                  placeholder="Qty" id="qty{{i}}" value="{{dataku.qty}}"/>
            </div>
          </div>
        </div>
    </div>
    <div class="modal-footer">
    <button class="btn btn-primary" type="submit">Update</button>
    </div>
  </form>
</ng-template>