<app-topbar></app-topbar>

<div class="col-lg-12" *ngIf="showForm">
    <div class="card" style="margin-top:20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
        <div class="card-body">
            <h4 class="card-title" style="color: #009aad;">User</h4>
            <form [formGroup]="tambahForm" (ngSubmit)="submit()"> 
                <div class="row">       
                    <div class="col-12">
                        <div class="row">
                            <div  class="col-4">
                                <label  class="form-label" style="color: #009aad;">Nama Hak Akses</label>
                                <input *ngIf="edit_v == 1"  type="text" placeholder="Id" class="form-control" formControlName="id" [(ngModel)]="model.id" hidden>
                                <input  type="text" placeholder="Nama Hak Akses" class="form-control" formControlName="nama" [(ngModel)]="model.nama">
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 10px;margin-bottom: 10px;">
                        <hr style="margin-right: 10px;margin-left: 10px;">
                        <h5 class="text-capitalize text-start mb-3" style="margin-left: 10px;text-align: center;color: #009aad;">detail hak akses</h5>
                        <div class="row">
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header d-xxl-flex align-items-xxl-center" style="background-color: #009aad;">
                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" (change)="centang($event, 'auth', 1, '')" disabled><label class="form-check-label" for="formCheck-1" style="color: rgb(255,255,255);">Auth</label></div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'auth', 2, 'user')" [checked]="dataFinal['auth']['user']"><label class="form-check-label text-capitalize" for="formCheck-2">User</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'auth', 2, 'hak_akses')" [checked]="dataFinal['auth']['hak_akses']"><label class="form-check-label text-capitalize" for="formCheck-4">Hak akses</label></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header d-xxl-flex align-items-xxl-center" style="background-color: #009aad;">
                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 1, '')" disabled><label class="form-check-label" for="formCheck-7" style="color: rgb(255,255,255);">Setting</label></div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 2, 'menu')" [checked]="dataFinal['setting']['menu']"><label class="form-check-label text-capitalize" for="formCheck-8">Menu</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 2, 'customer')" [checked]="dataFinal['setting']['customer']"><label class="form-check-label text-capitalize" for="formCheck-9">Customer</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 2, 'promo')" [checked]="dataFinal['setting']['promo']"><label class="form-check-label text-capitalize" for="formCheck-12">promo</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 2, 'diskon')" [checked]="dataFinal['setting']['diskon']"><label class="form-check-label text-capitalize" for="formCheck-11">diskon</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'setting', 2, 'voucher')" [checked]="dataFinal['setting']['voucher']"><label class="form-check-label text-capitalize" for="formCheck-10">Voucher</label></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header d-xxl-flex align-items-xxl-center" style="background-color: #009aad;">
                                        <div class="form-check hak-akses"><input class="form-check-input" type="checkbox" (change)="centang($event, 'laporan', 1, '')" disabled><label class="form-check-label" for="formCheck-3" style="color: rgb(255,255,255);">Laporan</label></div>
                                    </div>
                                    <div class="card-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'laporan', 2, 'penjualan_menu')" [checked]="dataFinal['laporan']['penjualan_menu']"><label class="form-check-label text-capitalize" for="formCheck-5">Penjualan menu</label></div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="form-check formcheck"><input class="form-check-input" type="checkbox" (change)="centang($event, 'laporan', 2, 'penjualan_customer')" [checked]="dataFinal['laporan']['penjualan_customer']"><label class="form-check-label text-capitalize" for="formCheck-6">Penjualan customer</label></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" style="margin-top: 20px;">
                        <button class="btn btn-light" (click)="index()" style="float: right;">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Kembali
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="tambah == 1" [disabled]="!tambahForm.valid" style="float: right; margin-right: 10px;">Simpan</button>
                        <button type="button" class="btn btn-success" *ngIf="edit_v == 1" [disabled]="!tambahForm.valid" style="float: right; margin-right: 10px;" (click)="submit_edit()">Simpan Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid" style="margin-top: 20px;" *ngIf="!showForm">
    <div class="row">
        <div class="col-lg-6">
            <h4 style="color: #009aad;">Setting Hak Akses</h4>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-success" style="background: #077c8c;border-bottom-style: none; float: right;" (click)="create()">+ Buat Baru</button>
            <button type="button" class="btn btn-primary" style="background: #fff;border-bottom-style: none; float: right; color: black;" (click)="pencarian();"><i class="fa fa-search" style="margin-right: 5px;"></i>Pencarian</button>
        </div>
        <div class="col-lg-12" *ngIf="showFilter">
            <div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="produk">Nama</label>
                            <input type="text" class="form-control" (keyup)="datareload()" [(ngModel)]="modelParam.nama"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 10px;">
            <div class="card">
              <div class="card-body">
                <div class="table-responsive">
                  <table datatable [dtOptions]="dtOptions" class="table table-striped mb-0">
                    <thead>
                      <tr>
                        <th style="width: 10%;text-align: center;">No</th>
                        <th tyle="width: 15%; text-align: left;">Nama</th>
                        <th style="width: 10%; text-align: right;"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of data_database; let i = index;">
                        <th class="text-center" scope="row">{{i+1}}</th>
                        <td style="text-align: left;">{{item.nama}}</td>
                        <td style="text-align: right;">
                            <button class="btn btn-success btn-sm btn-voucher1" role="button" style="margin-left: 5px;" (click)="edit(item)"><i class="fa fa-pencil-alt btn-voucher" style="color: #fff;"></i></button>
                            <button class="btn btn-danger btn-sm" type="button" style="margin-left: 5px;" (click)="deleteModal(modaldelete, item.id)"><i class="fa fa-trash"></i></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
        
              </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modaldelete role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Hapus Produk</h5>
        <button type="button" class="close" aria-hidden="true" #closebutton (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
        <h6>Anda Yakin Ingin Menghapus Data ?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Tutup</button>
        <button type="button" class="btn btn-danger" (click)="hapus()">Hapus</button>
      </div>
</ng-template>