<div class="col-lg-12">
    <div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
        <div class="container-fluid">
            <table class="table">
            <thead>
              <tr>
                <th scope="col">Nama akun</th>
                <th scope="col">Waktu</th>
                <th scope="col">Kasir</th>
                <th scope="col">Total Transaksi</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
            </table>
        </div>   
    </div>
</div>