<app-topbar></app-topbar>

<div class="container-fluid" style="margin-top: 20px;" *ngIf="!showForm">
    <div class="row">
        <div class="col-lg-12">
            <div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
                <div class="card-body">
                    <div class="row">
                      <div class="col-lg-3">
                        <label for="produk">Nama Menu</label>
                        <input type="text" class="form-control" placeholder="Nama Produk" [(ngModel)]="modelParam.menu"/>
                      </div>
                        <div class="col-lg-3">
                            <label for="produk">Kategori Menu</label>
                            <select class="form-control form-select" aria-label=".form-select-sm example" [(ngModel)]="modelParam.kategori">
                                <option value="" selected>Pilih Kategori</option>
                                <option *ngFor="let data of sc_kategori" value="{{data.id}}">{{data.nama_kategori}}</option>
                            </select>
                        </div>
                    </div>
                      <div style="margin-top: 20px; float: right;">
                        <button type="button" class="btn btn-primary" (click)="search()">Search Data</button>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card" style=" box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
                <div class="card-body">
                    <h4 class="card-title">Table Menu</h4>
                    <div style="margin-top: 10px;margin-bottom: 20px;float: right;">
                        <button type="button" class="btn btn-success" (click)="create()">+Tambah Data</button>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-striped mb-0">
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Produk</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">Harga</th>
                                <th scope="col">Topping</th>
                                <th scope="col">Level</th>
                                <th scope="col">Deskripsi</th>
                                <th scope="col">Gambar</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of data_database; let i = index;">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{item.nama}}</td>
                                    <td>{{item.nama_kategori}}</td>
                                    <td>{{item.harga}}</td>
                                    <td maxlength="10">{{item.toping}}</td>
                                    <td>{{item.level}}</td>
                                    <td>{{item.deskripsi}}</td>
                                    <td><img width="150" height="100" src="http://localhost/training-angular-9/api/{{item.foto}}" ></td>
                                    <td><button class="btn btn-success" (click)="edit(item)"><img src="assets/edit_white_24dp.svg"></button></td>
                                    <td><button class="btn btn-danger" (click)="deleteModal(modaldelete, item.id_produk)"><img src="assets/delete_white_24dp.svg"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12" *ngIf="showForm">
    <div class="card" style="margin-top:20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
        <div class="card-body">
            <h4 class="card-title">{{pageTitle}}</h4>
            <form [formGroup]="tambahForm" (ngSubmit)="submit()" novalidate> 
                <div class="row">       
                    <div class="col-6">
                        <div class="row">
                            <div  class="col-12">
                                <input *ngIf="edit_v == 1"  type="text" placeholder="Nama Menu" class="form-control" formControlName="id" [(ngModel)]="model.id_produk" hidden>
                                <label  class="form-label">Nama</label>
                                <input  type="text" placeholder="Nama Menu" class="form-control" formControlName="nama_menu" [(ngModel)]="model.nama">
                                <div *ngIf="f.nama_menu.touched && f.nama_menu.invalid" style="color: red;">
                                    <div *ngIf="f.nama_menu.errors.required">
                                      *Nama Menu Harus Diisi.
                                    </div>
                                </div>
                            </div>
                            <div  class="col-12" style="margin-top: 10px;">
                                <label  class="form-label">Kategori</label>
                            </div>
                            <div  class="col-12">
                                <div role="group" class="btn-group btn-group-example mb-3" *ngIf="edit_v == 1">
                                    <button id="kat_button{{pageIdk}}" type="button" [ngClass]="kat_button2" (click)="kategori_click(pageIdk)">{{pageKategori}}</button>
                                    <ng-container *ngFor="let item of sc_kategori">
                                    <button *ngIf="pageIdk != item.id" id="kat_button{{item.id}}" type="button" [ngClass]="kat_button" (click)="kategori_click(item.id)">{{item.nama_kategori}}</button>
                                    </ng-container>
                                </div>
                                <div role="group" class="btn-group btn-group-example mb-3" *ngIf="tambah == 1">
                                    <button *ngFor="let item of sc_kategori" id="kat_button{{item.id}}" type="button" [ngClass]="kat_button" (click)="kategori_click(item.id)">{{item.nama_kategori}}</button>
                                </div>
                            </div>
                            <div class="col-12">
                                <label  class="form-label">Harga</label>
                                <div  class="input-group">
                                    <div  class="input-group-prepend">
                                        <span  class="input-group-text">Rp</span>
                                    </div>
                                    <input  type="text" placeholder="Harga" class="form-control" formControlName="harga" [(ngModel)]="model.harga">
                                    <div *ngIf="f.harga.touched && f.harga.invalid" style="color: red;">
                                        <div *ngIf="f.harga.errors.required">
                                          *Harga Menu Harus Diisi.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="margin-top: 10px;">
                                <label  class="form-label">Deskripsi Singkat</label>
                                <textarea placeholder="Deskripsi Singkat" class="form-control" formControlName="dekripsi" [(ngModel)]="model.deskripsi"></textarea>
                                <div *ngIf="f.dekripsi.touched && f.dekripsi.invalid" style="color: red;">
                                    <div *ngIf="f.dekripsi.errors.required">
                                      *Deskripsi Menu Harus Diisi.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <div class="mt-4" style="background: #dcdcdc;height: 227px;border-radius: .8rem;cursor: pointer;" (click)="gambar.click()">
                                    <h2 class="text-center"><i class="fa fa-image" style="margin-top: 65px;"></i><br>Upload Image</h2>
                                    <input type="file" style="display: none;" (change)="fileChangeEvent($event)" #gambar>
                                </div>
                                <img [src]="imageSrc" *ngIf="imageSrc" class="mt-4" style="height: 227px;border-radius: .8rem;cursor: pointer;">
                            </div>
                            <div  class="col-12" style="margin-top: 10px;">
                                <label  class="form-label">Status</label>
                            </div>
                            <div  class="col-12">
                                <div role="group" class="btn-group btn-group-example mb-3" *ngIf="tambah == 1">
                                    <button type="button" id="ada_button{{0}}" type="button" [ngClass]="ada_button" (click)="status_menu('0')">Ada</button>
                                    <button type="button" id="ada_button{{1}}" type="button" [ngClass]="ada_button" (click)="status_menu('1')">Habis</button>
                                </div>
                                <div role="group" class="btn-group btn-group-example mb-3" *ngIf="edit_v == 1">
                                    <button type="button" *ngIf="status == 0" id="ada_button{{0}}" type="button" [ngClass]="ada_button2" (click)="status_menu('0')">Ada</button>
                                    <button type="button" *ngIf="status == 1" id="ada_button{{1}}" type="button" [ngClass]="ada_button2" (click)="status_menu('1')">Habis</button>
                                    <button type="button" *ngIf="status == 1" id="ada_button{{0}}" type="button" [ngClass]="ada_button" (click)="status_menu('0')">Ada</button>
                                    <button type="button" *ngIf="status == 0" id="ada_button{{1}}" type="button" [ngClass]="ada_button" (click)="status_menu('1')">Habis</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col"><a type="button" (click)="addSplit()"><i class="fa fa-plus-square i-menu" style="color: #34c38f;"></i></a></th>
                                    <th scope="col">Keterangan</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Harga</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <ng-container [formGroup]="splitData">
                                        <ng-container formArrayName="splitValue" *ngFor="let datacok of  splitdata().controls; let i=index;">
                                            <tr  [formGroupName]="i">
                                                <th scope="row"><a type="button" (click)="deleteSplit(i)"><i class="fa fa-minus-square i-menu" style="color: #F46A6A;"></i></a></th>
                                                <td><input type="text" placeholder="Keterangan" class="form-control" formControlName="keterangan"></td>
                                                <td><select class="form-control" formControlName="tipe">
                                                    <option value="" selected>Pilih Data</option>
                                                    <option value="1">Topping</option>
                                                    <option value="2">Level</option>
                                                    </select></td>
                                                <td><input type="text" placeholder="Harga" class="form-control" formControlName="harga"></td>
                                            </tr>
                                        </ng-container>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12" style="margin-top: 20px;">
                    <button class="btn btn-light" (click)="index()" style="float: right;">
                        <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                        Kembali
                    </button>
                    <button type="submit" class="btn btn-primary" *ngIf="tambah == 1" [disabled]="!tambahForm.valid" style="float: right; margin-right: 10px;">Simpan</button>
                    <button type="button" class="btn btn-success" *ngIf="edit_v == 1" style="float: right; margin-right: 10px;" (click)="submit_edit()">Simpan Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #modaldelete role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Hapus Produk</h5>
        <button type="button" class="close" aria-hidden="true" #closebutton (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
        <h6>Anda Yakin Ingin Menghapus Data ?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Tutup</button>
        <button type="button" class="btn btn-danger" (click)="b_hapus()">Hapus</button>
      </div>
</ng-template>