
<nav class="navbar-header navbar-expand-lg" style="background-color: #f8f9fa;">
    <!-- LOGO -->
    <div class="d-flex">  
        <div class="navbar-brand-box">
            <a routerLink="/javacode/dashboard" class="logo">
                <img src="assets/Java Code.png" alt="" height="45">
            </a>
        </div>
        <div class="dropdown d-none d-lg-block ml-2" ngbDropdown>
            <button type="button" class="btn header-item" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="false"
                aria-expanded="false">
                Setting
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
                <a class="dropdown-item" [routerLink]="['/javacode/menu']">Menu</a>
                <a class="dropdown-item" [routerLink]="['/javacode/customer']">Customer</a>
                <a class="dropdown-item" [routerLink]="['/javacode/promo']">Promo</a>
                <a class="dropdown-item" [routerLink]="['/javacode/diskon']">Diskon</a>
                <a class="dropdown-item" [routerLink]="['/javacode/voucher']">Voucher</a>
            </div>
        </div>
        <div class="dropdown d-none d-lg-block ml-2" ngbDropdown>
            <button type="button" class="btn header-item" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="false"
                aria-expanded="false">
                Laporan
                <i class="mdi mdi-chevron-down"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-left" ngbDropdownMenu>
                <a class="dropdown-item" [routerLink]="['/javacode/laporan_menu']">Penjualan Menu</a>
                <a class="dropdown-item" [routerLink]="['/javacode/laporan_customer']">Penjualan Customer</a>
                <a class="dropdown-item" [routerLink]="['/javacode/laporan_penjualan']">Penjualan</a>
            </div>
        </div>
    </div>

    <div class="d-flex" style="margin-right: 50px;">
        <div class="dropdown d-inline-block" ngbDropdown>
        <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">
            <img class="rounded-circle header-profile-user" src="assets/images/users/user-default.png" alt="Header Avatar">
            <span class="d-none d-xl-inline-block ml-1" style="color: #009aad;">{{nama}}</span>
            <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <a class="dropdown-item" type="button" [routerLink]="['/javacode/user']"><i
                class="bx bx-wallet font-size-16 align-middle mr-1"></i>User</a>
            <a class="dropdown-item d-block" type="button" [routerLink]="['/javacode/hak_akses']"><i
                class="bx bx-wrench font-size-16 align-middle mr-1"></i> Hak Akses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item text-danger" type="button" (click)='logout()'><i
                class="bx bx-power-off font-size-16 align-middle mr-1 text-danger"></i> Logout</a>
        </div>
        </div>
    </div>
</nav>