<div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
    <h6 class="nav-link btn-primary border-bottom border-2 text-center" >Produk</h6>
    <a class="nav-link border-bottom border-1" >Kelola Produk</a>
    <a class="nav-link border-bottom border-2" >Diskon</a>
    <a class="nav-link border-bottom border-2" >Kategori Produk</a>
    <h6 class="nav-link btn-primary border-bottom border-2 text-center" >Kelola Toko</h6>
    <a class="nav-link border-bottom border-2" >Pembayaran</a>
    <a class="nav-link border-bottom border-2" >Outlet</a>
    <a class="nav-link border-bottom border-2" >Inventori</a>
    <h6 class="nav-link btn-primary border-bottom border-2 text-center" >Transaksi</h6>
    <a class="nav-link border-bottom border-2" >Penjualan</a>
    <a class="nav-link border-bottom border-2" >Pembelian</a>
    <h6 class="nav-link btn-primary border-bottom border-2 text-center" >Pengaturan</h6>
    <a class="nav-link border-bottom border-2" routerLink="/account/update-profil">Karyawan</a>
</div>