<nav class="navbar-header navbar-expand-lg navbar-white bg-white">
    <a class="navbar-brand" href="#" style="margin-left: 10px;">Dapoerku!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/transaksi">Transaksi Penjualan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/produk">Produk</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/laporan-penjualan">Laporan Penjualan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Pelanggan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/account/kasir">Outlet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Karyawan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account/laporan-perbulan">Rekap Perbulan</a>
        </li>
        </ul>
    </div>
    <div style="float: right;">
        <button type="button" (click)='logout()' style="margin-right: 10px;"><img src="assets/login_black_24dp.svg" ></button>
    </div>
</nav>