<app-topbar></app-topbar>
<style>
    .bg-custom{
      background: #077c8c;
      color: #fff;
      border-color: #077c8c;
    }
  </style>

<div class="container-fluid" style="margin-top: 20px;" *ngIf="!showForm">
    <div class="row">
        <div class="col-lg-6">
            <h4 style="color: #009aad;">Promo Menu</h4>
        </div>
        <div class="col-lg-6">
            <button type="button" class="btn btn-success" style="background: #077c8c;border-bottom-style: none; float: right;" (click)="create()">+ Buat Baru</button>
            <button type="button" class="btn btn-primary" style="background: #fff;border-bottom-style: none; float: right; color: black;" (click)="pencarian()"><i class="fa fa-search" style="margin-right: 5px;"></i>Pencarian</button>
        </div>
        <div class="col-lg-12" *ngIf="showFilter">
            <div class="card text-dark bg-white mb-3" style="margin-top: 20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="produk">Nama</label>
                            <input type="text" class="form-control" placeholder="Nama" (keyup)="datareload()" [(ngModel)]="modelParam.nama"/>
                        </div>
                        <div class="col-lg-4">
                            <label for="produk">Tipe</label>
                            <select class="form-control form-select" aria-label=".form-select-sm example" (change)="datareload()" [(ngModel)]="modelParam.tipe">
                                <option value="" selected>Pilih Item</option>
                                <option value="Diskon">Diskon</option>
                                <option value="Voucher">Voucher</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 25px;">
            <div class="card text-dark bg-white mb-3" style="box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);">
            <div class="card-body">
                <div class="table-responsive" style="margin-top: 10px;">
                    <table datatable [dtOptions]="dtOptions" class="table mb-0">
                    <thead>
                        <tr>
                        <th>No</th>
                        <th>Nama</th>
                        <th>Type</th>
                        <th class="text-center">Diskon/Harga</th>
                        <th class="text-center">Kadaluarsa</th>
                        <th class="text-center">Gambar</th>
                        <th style="width: 10%; text-align: left;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of data_database; let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.nama}}</td>
                            <td>{{item.tipe}}</td>
                            <ng-container *ngIf="item.tipe == 'Diskon'; else elseBlock">
                            <td class="text-center">{{item.diskon}} %</td>
                            </ng-container>
                            <ng-template #elseBlock>
                                <td class="text-center">{{item.harga}}</td>
                            </ng-template>
                            <td class="text-center">{{item.kadaluarsa}} Days</td>
                            <td class="text-center">
                                <p *ngIf="item.foto == '' || item.foto == null; else danger" class="text-center">-</p>
                                
                                <ng-template #danger><img width="150" height="100"  src="http://localhost/training-angular-9/api/{{item.foto}}" ></ng-template>
                            </td>
                        <td style="text-align: right;" >
                        <button class="btn btn-success btn-sm btn-voucher1" type="button" style="margin-right: 5px;" (click)="edit(item)"><i class="fa fa-pencil-alt btn-voucher" style="color: #fff;"></i></button>
                        <button class="btn btn-danger btn-sm btn-voucher1" type="button" style="margin-right: 5px;" (click)="deleteModal(modaldelete, item.id)"><i class="fa fa-trash btn-voucher"></i></button></td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>

<div class="col-lg-12" *ngIf="showForm">
    <div class="card" style="margin-top:20px; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);">
        <div class="card-body">
            <h4 class="card-title" style="color: #009aad;">{{pageTitle}}</h4>
            <form [formGroup]="tambahForm" (ngSubmit)="submit()" novalidate> 
                <div class="row">       
                    <div class="col-6">
                        <div class="row">
                            <div  class="col-12">
                                <input *ngIf="edit_v == 1"  type="text" placeholder="Nama" class="form-control" formControlName="id" [(ngModel)]="model.id" hidden>
                                <label  class="form-label" style="color: #009aad;">Nama<label style="color: red;">*</label></label>
                                <input  type="text" placeholder="Nama" class="form-control" formControlName="nama" [(ngModel)]="model.nama">
                                <div *ngIf="f.nama.touched && f.nama.invalid" style="color: red;">
                                    <div *ngIf="f.nama.errors.required">
                                      *Nama Promo Harus Diisi.
                                    </div>
                                </div>
                            </div>
                            <div  class="col-12" style="margin-top: 10px;">
                                <label  class="form-label" style="color: #009aad;">Tipe<label style="color: red;">*</label></label>
                            </div>
                            <div  class="col-12">
                                <div role="group" class="btn-group btn-group-example mb-3">
                                    <button type="button" id="diskon_button{{1}}" type="button" [ngClass]="diskon_button" (click)="status_menu('1')">Diskon</button>
                                    <button type="button" id="diskon_button{{2}}" type="button" [ngClass]="diskon_button" (click)="status_menu('2')">Voucher</button>
                                </div>
                            </div>
                            <div  class="col-12" *ngIf="inputDisabled1 == 2">
                                <div class="row">
                                    <div class="col-4">
                                        <label  class="form-label" style="color: #009aad;">Diskon<label style="color: red;">*</label></label>
                                        <input  type="number" placeholder="Diskon" class="form-control" formControlName="p_diskon" [(ngModel)]="model.diskon">
                                        <div *ngIf="f.p_diskon.touched && f.p_diskon.invalid" style="color: red;">
                                            <div *ngIf="f.p_diskon.errors.pattern">*Format Harus Angka.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngIf="inputDisabled2 == 2">
                                <div class="row">
                                    <div class="col-4">
                                        <label  class="form-label" style="color: #009aad;">Harga<label style="color: red;">*</label></label>
                                        <div  class="input-group">
                                            <div  class="input-group-prepend">
                                                <span  class="input-group-text">Rp</span>
                                            </div>
                                            <input  type="text"
                                            mvndrMatCurrencyFormat
                                            [allowNegative]="false"
                                            [currencyCode]="'Rp'"
                                            [value]="usAmount"
                                            (blur)="updateUSAmount($event)" placeholder="Harga" class="form-control" formControlName="harga" [(ngModel)]="model.harga">
                                        </div>
                                        <div *ngIf="f.harga.touched && f.harga.invalid" style="color: red;">
                                            <div *ngIf="f.harga.errors.pattern">*Format Harus Angka.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-4">
                                        <label for="kadaluarsa" style="color: #009aad;">Kadaluarsa<label style="color: red;">*</label></label>
                                        <select class="form-control form-select" aria-label=".form-select-sm example" formControlName="kadaluarsa" [(ngModel)]="model.kadaluarsa"> 
                                            <option value="" selected>-- Pilih Hari --</option>
                                            <option value="1">Day 1</option>
                                            <option value="2">Day 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <button type="button" class="btn btn-success" *ngIf="imageSrc" (click)="gambarku.click()">
                                    Edit Gambar
                                    <input type="file" style="display: none;" (change)="fileChangeEvent($event)" #gambarku>
                                </button>
                            </div>
                            <div class="col-12">
                                <div class="mt-4" style="background: #dcdcdc;height: 300px;border-radius: .8rem;cursor: pointer;" (click)="gambar.click()" *ngIf="!imageSrc">
                                    <h2 class="text-center"><i class="fa fa-image" style="margin-top: 95px;"></i><br>Upload Image</h2>
                                    <input type="file" style="display: none;" (change)="fileChangeEvent($event)" #gambar>
                                </div>
                                <img [src]="imageSrc" *ngIf="imageSrc" class="mt-4" style="height: 227px;border-radius: .8rem;cursor: pointer;">
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <hr>
                        <div class="form-group mb-3">
                            <h5 class="text-center" style="color: #009aad;" for="deskripsi">Terms & Condition<label style="color: red;">*</label></h5>
                            <ckeditor name="deskripsi" formControlName="deskripsi" [(ngModel)]="model.deskripsi"></ckeditor>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-light" (click)="index()" style="float: right;">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Kembali
                        </button>
                        <button type="submit" class="btn btn-primary" *ngIf="tambah == 1" style="float: right; margin-right: 10px;" [disabled]="!tambahForm.valid">Simpan</button>
                        <button type="button" class="btn btn-success" *ngIf="edit_v == 1" style="float: right; margin-right: 10px;" (click)="submit_edit()">Simpan Edit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<ng-template #modaldelete role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Hapus Promo</h5>
        <button type="button" class="close" aria-hidden="true" #closebutton (click)="modal.dismiss('Cross click')">×</button>
      </div>
      <div class="modal-body">
        <h6>Anda Yakin Ingin Menghapus Data ?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Tutup</button>
        <button type="button" class="btn btn-danger" (click)="b_hapus()">Hapus</button>
      </div>
</ng-template>